{% if message is not empty %}
	<div class="form-group">
		<div class="error-summary">
			<p>Please fix the following errors:</p>
			<ul>
				{% for field, error in message %}
					<li>{{ field ? field : '' }} {{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}